.customers {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.customers__title {
    box-sizing: content-box;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 201px;
    height: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    padding-bottom: 30px;
    padding-top: 60px;
}

@media(min-width:1200px){
    .customers__title{
    font-size: 36px;
    padding-bottom: 50px;
    padding-top: 94px;
    }
}