.contact-part__logo {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.contact-part__logo--primary {
    color: #FFFFFF;
}

.contact-part__logo--secondary {
    color: #2196F3;
}

@media(min-width:$desktop){
    .contact-part__logo{
        font-size: 26px;
    }
}