.mobile-menu{
    display: flex;
    padding-right: 8px;
}

.mobile-menu__icon{
    transition: fill var(--transition);
    cursor: pointer;
    &:hover,&:focus{
        fill: #2196F3;
    }
}
@media (min-width: $tablet ){
    .mobile-menu__icon{
        display: none;
    }
}