.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
        
}

.newsletter-form__fieldset {
    position: relative;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.newsletter-form__label {
    position: absolute;
    top: -36px;
    left:121.5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.newsletter-form__input {
    background-color: #2F303A;
    position: absolute;
    top: 2px;
    border: 0px;
    width: 446px;
    height: 44px;
    padding-left: 16px;
}

.newsletter-form__button {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    border: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-block: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 60px;
}

.newsletter-form__icon {
    all: unset;
    align-items: center;
    display: block;
    align-items: center;
    padding: 3px;

}
@media(min-width:$tablet) and (max-width:$desktop){
    .newsletter-form{
        padding-left: 140px;
        padding-right: 140px;
    }
}

@media(min-width:$desktop){
    .newsletter-form{
        padding-top: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 48px;
    }
    .newsletter-form__fieldset{
        width: 358px;
        height: 50px;
    }
    .newsletter-form__input{
        width: 354px;
        height: 44px;
        padding-left: 16px;
    }
    .newsletter-form__button{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 12px;
    }
    .newsletter-form__label{
        left: 0;  
    }
}