.portfolio-card {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    transition: box-shadow var(--transition);
    &:hover,&:focus{
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
       cursor: pointer;

    }
}

.portfolio-card__name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:flex-start;
    margin-left: 24px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    text-align: center;
}

.portfolio-card__division {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: none;
    color: #757575;
}


.portfolio-card__image {
    width:450px;
    height:294px;
    position: relative;
    overflow: hidden;
    transition: transform var(--transition);
    }

.portfolio-card__image--technocrack{
    background-image: url(/images/techno_crackx1.jpg);
    background-size:cover;
    background-position: center center;
}
.portfolio-card__image--neworlean{
    background-image: url(/images/graphics_new_orleans_vs_golden_starx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--seafood{
    background-image: url(/images/seafood_restaurantx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--prime{
    background-image: url(/images/prime_projectx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--boxes{
    background-image: url(/images/boxes_projectx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--inspiration{
    background-image: url(/images/inspiration_has_no_bordersx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--magazine{
    background-image: url(/images/limited_edition_magazinex1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--lab{
    background-image: url(/images/lab_projectx1.jpg);
    background-size: cover;
    background-position: center center;
}
.portfolio-card__image--business{
    background-image: url(/images/growing_businessx1.jpg);
    background-size: cover;
    background-position: center center;
}

.portfolio-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196F3E5;
    transform: translateY(100%);
    transition: transform var(--transition);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 49px 45px 49px 24px;
    }

.portfolio-card__image:hover .portfolio-card__overlay {
    transform: translateY(0);
}

@media(min-width:768px) {
    .portfolio-card {
        width: 354px;
        height: 440px;
    }
    .portfolio-card__division{
        padding-bottom: 56px;
    }
    .portfolio-card__image {
        width: 354px;
        height: 294px;
    }
    
}
@media(min-width:1200px) {
    .portfolio-card {
        width: 370px;
        height: 404px;
    }

    .portfolio-card__division {
        padding-bottom: 20px;
    }

    .portfolio-card__image {
        width: 370px;
        height: 294px;
    }

}
@media(min-width:1100px) and(max-width:1200px){
    .portfolio-card{
        margin-inline: 40px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .portfolio-card__image--technocrack {
        background-image: url(/images/techno_crackx2.jpg);       
    }
    .portfolio-card__image--neworlean {
        background-image: url(/images/graphics_new_orleans_vs_golden_starx2.jpg); 
    }
    .portfolio-card__image--seafood {
        background-image: url(/images/seafood_restaurantx2.jpg);
    }
    .portfolio-card__image--prime {
        background-image: url(/images/prime_projectx2.jpg);
    }
    .portfolio-card__image--boxes {
        background-image: url(/images/boxes_projectx2.jpg);
    }
    .portfolio-card__image--inspiration {
        background-image: url(/images/inspiration_has_no_bordersx2.jpg);
    }
    .portfolio-card__image--magazine {
        background-image: url(/images/limited_edition_magazinex2.jpg);
    }
    .portfolio-card__image--lab {
        background-image: url(/images/lab_projectx2.jpg);
    }
    .portfolio-card__image--business {
        background-image: url(/images/growing_businessx2.jpg);
    }
}
