.portfolio-card {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    transition: box-shadow var(--transition);
    &:hover,&:focus{
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
       cursor: pointer;

    }
}

.portfolio-card__name {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px 24px 0 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    text-align: center;
}

.portfolio-card__division {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: none;
    color: #757575;
}


.portfolio-card__image {
    position: relative;
    overflow: hidden;
    transition: transform var(--transition);
    }

.portfolio-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196F3E5;
    transform: translateY(100%);
    transition: transform var(--transition);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 49px 45px 49px 24px;
    }

.portfolio-card__image:hover .portfolio-card__overlay {
    transform: translateY(0);
}