.portfolio-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 21px;
    column-gap: 8px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.portfolio-filter__button {
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: block;
    padding: 6px 22px;
    cursor: pointer;
    transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
    &:hover,&:focus{
        color: #FFFFFF;
        background-color: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

@media(max-width: 768px){
    .portfolio-filter{
        flex-wrap: wrap;
        justify-content:left;
    }
}
@media(min-width: 768px) {
    .portfolio-filter {
        padding-bottom: 30px;
    }
}
@media(min-width: 1200px) {
    .portfolio-filter {
        padding-top: 94px;
        padding-bottom: 50px;
    }
}
