.team-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.team-card__image{
    width: 450px;
    height: 460px;
}

.team-card__image--Product-Designer{
    background-image: url(../images/product_designerx1.jpg);
    background-size: cover;
    background-position: center center;
}
.team-card__image--Frontend-Developer{
    background-image: url(../images/frontend_developerx1.jpg);
    background-size: cover;
    background-position: center center;
}
.team-card__image--Marketing{
    background-image: url(../images/marketingx1.jpg);
    background-size: cover;
    background-position: center center;
}
.team-card__image--UI-Designer{
    background-image: url(../images/ui_designerx1.jpg);
    background-size: cover;
    background-position: center center;
}

.team-card__view {
    width: 450px;
    height: 622px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.team-card__profession {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #757575;
}

.team-card__icon:hover,
.team-card__icon:focus {
    display: flex;
    --color4: #2196f3;
    --color5: #ffffff;
    cursor: pointer;
}

.team-card__footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:center;
    padding: 0 30px 18px 32px;
}
@media(min-width: 768px){
    .team-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .team-card__image {
        width: 354px;
        height: 374px;
    }
    .team-card__view {
        width: 354px;
        height: 536px;
    }
}
@media(min-width: 1200px) {
    .team-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team-card__image {
        width: 270px;
        height: 260px;
    }

    .team-card__view {
        width: 270px;
        height: 428px;
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .team-card__image--Product-Designer {
        background-image: url(../images/product_designerx2.jpg);
    }
    .team-card__image--Frontend-Developer {
        background-image: url(../images/frontend_developerx2.jpg);
    }
    .team-card__image--Marketing {
        background-image: url(../images/marketingx2.jpg);
    }
    .team-card__image--UI-Designer {
        background-image: url(../images/ui_designerx2.jpg);
    }
}